---
import {fetchAPI} from '../lib/api.js';
import Article from '../components/Article.astro';
import Base from '../layouts/Base.astro';
import '../styles/global.css';
const data = await fetchAPI('articles?per_page=10');
const firstPage = data.slice(0, 3);
//console.log(data);
const firstaPage = data.slice(3, 6);

---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Hell Yea!</title>

        <style>
        header {
            display: flex;
            flex-direction: column;
            gap: 1em;
            max-width: min(100%, 68ch);
        }
        article {
            padding-top: 2em;
            line-height: 1.5;
            display: flex;
            flex-direction: column;
            gap: 1em;
            max-width: 70ch;
        }
        .banner {
            text-align: center;
            font-size: 1.2rem;
            background: var(--color-light);
            padding: 1em 1.5em;
            padding-left: 0.75em;
            border-radius: 4px;
        }
	li {
            list-style: none;
            margin-left: 0;
	   display: list-item;
            text-align: -webkit-match-parent;
            border: 1px solid #FF0000;
            border-radius: 8px;
            overflow: hidden;
            padding: 1.0rem 1.0re 1.0rem 1.0rem;
            box-shadow: 10px 10px 5px #D3D3D3;
        }
	#test  {
    margin-top: 25px;
    font-size: 21px;
    text-align: left;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
    </style>
    <style is:global>
        pre {
            padding: 1rem;
        }
    </style>

	</head>
	<Base>
    <article class="prose lg:prose-xl mx-auto">
    <h1>Recent Articles</h1>
    <div id="test">
        <!--ul>
        	{data.map(post => <li><Article post={post}/></li>)}
        </ul-->

{firstPage.map(post => {
    return <ul><li><img src={post.fimg_url} width="200" />
    <a href="${post.slug}"><h2>{post.title.rendered}</h2></a></li>
    </ul><br>;
})}

    </div>
    <img src="https://i.pinimg.com/originals/ae/37/d9/ae37d906dad632044c6ebc2aa3af7880.png" width="800" height="90" />
    <br/>
    <br/>

 <div id="test">

{firstaPage.map(post => {
    return <ul><li><img src={post.fimg_url} width="200" />
	    <a href="${post.slug}"><h2>{post.title.rendered}</h2></a></li>
    </ul><br>;
})}
</div>

     <div class="text-center mt-20">
        <div>
            <a href="/page/2/">More Articles</a>
            
        </div>
    </div>
    </article>
</Base>

</html>
