---
import {getArticles} from '../../lib/api.js';
import Article from '../../components/Article.astro';
import Base from '../../layouts/Base.astro';
export async function getStaticPaths( { paginate } ) {
  const data = await getArticles();
  return paginate(data, { pageSize: 4 });
}
const {page} = Astro.props;
---
<style>
        * {
  box-sizing: border-box;
  margin: 0;
}

:root {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif,
    Apple Color Emoji, Segoe UI Emoji;
  font-size: 1rem;
  --user-font-scale: 1rem - 16px;
  font-size: clamp(0.875rem, 0.4626rem + 1.0309vw + var(--user-font-scale), 1.125rem);
}

body {
  padding: 4rem 2rem;
  width: 100%;
  min-height: -100vh;
  display: grid;
  justify-content: center;
  background: #f9fafb;
  color: #111827;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #111827;
    color: #fff;
  }
}
  li {
            list-style: none;
            margin-left: 0;
            display: list-item;
            text-align: -webkit-match-parent;
            border: 1px solid #FF0000;
            border-radius: 8px;
            overflow: hidden;
            padding: 1.0rem 1.0re 1.0rem 1.0rem;
            box-shadow: 10px 10px 5px #D3D3D3;
 }
  
  #test  {
    margin-top: 25px;
    font-size: 21px;
    text-align: left;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}
@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
    </style>
    <style is:global>
        pre {
            padding: 1rem;
        }
    </style>
<Base>
    <article class="prose lg:prose-xl mx-auto">
      <h1>Past Posts</h1>
      <div id="test">
          <ul>
              {page.data.map(post => <li><Article post={post}/></li>)}
          </ul>
      </div>
      <br/>
      {page.url.prev && <a href={page.url.prev}>Previous page</a>}
      <br/>
      <br/>
      {page.url.next && <a href={page.url.next}>Next page</a>}
    </article>
</Base>
